<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clockology Watchface File Viewer</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <meta name="description" content="Clockology Watchface File Viewer - Upload or provide the URL of a Clockology clock and clock2 file to view its contents. Extract and download images from the file.">
    <meta name="keywords" content="Clockology, watchface, filee viewer, Clockology clock and clock2, Clockology files, watchface image extractor, Clockology tool">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Toon Van Kimmenade">
    <meta name="language" content="English">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://clockexporter.toonvank.online">
    <meta property="og:title" content="Clockology Watchface File Viewer">
    <meta property="og:description" content="Upload or provide the URL of a Clockology clock2 file to view its contents. Extract and download images, videos and fonts from the file.">
    <meta property="og:image" content="{{ url_for('static', filename='images/bg.png') }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://clockexporter.toonvank.online">
    <meta property="twitter:title" content="Clockology Watchface File Viewer">
    <meta property="twitter:description" content="Upload or provide the URL of a Clockology clock and clock2 file to view its contents. Extract and download images, videos and fonts from the file.">
    <meta property="twitter:image" content="{{ url_for('static', filename='images/bg.png') }}">
</head>
<body class="flex flex-col items-center justify-center min-h-screen"
    style="background-image: url('/static/images/bg.png'); background-size: cover; background-position: center;background-repeat: no-repeat">
<div class="max-w-3xl w-full px-4 md:px-6">
    <div class="overflow-hidden bg-white shadow rounded-lg">
        <div class="p-4 border-b border-gray-200">
            <h1 class="text-xl font-bold">🕰️ Clockology Watchface File Viewer</h1>
            <p class="text-sm text-gray-500">
                Upload or provide the URL of a Clockology clock and clock2 file to view its contents. <br>Clockology files are stored in an encrypted format, so this tool will extract all available images, fonts and videos from the file for you and allow you to download them.
            </p>
            <label for="file" class="block text-m font-medium text-gray-700">Supported file types:</label>
            <ul class="list-disc list-inside text-sm text-gray-500">
                <li>.clock</li>
                <li>.clock2</li>
            </ul>
        </div>
        <div class="p-4">
            <div class="grid gap-4">
                <div class="grid grid-cols-1">
                    <div>

                        <input id="file" type="file" class="mt-2 block w-full border border-gray-300 rounded-md shadow-sm">
                    </div>

                </div>
                <div class="text-center" style="display: none" id="error">
                    <p class="text-lg text-red-500" id="errorMessage"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4" style="display: none" id="loading">
        <img src="{{ url_for('static', filename='images/loading.gif') }}"
         style="display: block; margin-left: auto; margin-right: auto; width: 40%; margin-top: 10px">
        <p class="text-lg text-gray-500">Loading...</p>
    </div>

    <div class="mt-8 mb-4" style="display: none">
        <div class="bg-white shadow rounded-lg">
            <div class="p-4">
                <div class="grid gap-4">
                    <div id="imageContainer" class="grid grid-cols-2 md:grid-cols-3 gap-4">
                    </div>
                    <button id="downloadZip" class="bg-blue-500 text-white py-2 px-4 rounded-md">Download All Files 📦</button>
                    <div style="display: none">
                        <h3 class="text-lg font-semibold">Clock Face Details</h3>
                        <div class="grid gap-2 text-sm text-gray-500">
                            <div class="flex justify-between">
                                <span>Name:</span>
                                <span>Elegant Analog</span>
                            </div>
                            <div class="flex justify-between">
                                <span>Author:</span>
                                <span>John Doe</span>
                            </div>
                            <div class="flex justify-between">
                                <span>Version:</span>
                                <span>1.2</span>
                            </div>
                            <div class="flex justify-between">
                                <span>Last Updated:</span>
                                <span>2023-04-15</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4 mb-4">
        <p class="text-lg text-gray-500">2024 - Created by <a href="https://github.com/toonvank" class="text-blue-500">Toon Van Kimmenade</a></p>
        <p class="text-g text-gray-500 italic">Not affiliated with Clockology or Apple.</p>
    </div>
</div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js" integrity="sha512-Qlv6VSKh1gDKGoJbnyA5RMXYcvnpIqhO++MhIM2fStMcGT9i2T//tSwYFlcyoRRDcDZ+TYHpH8azBBCyhpSeqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>